{% extends 'common/base.html' %}

{% block content %}

<h2 class ="text-center"> Login</h2>

<div class = "col-md-6 offset-md-3"> 
	<form method ="POST">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Enter Username" name = "username">
		</div>

		<div class="form-group">
			<input type="password" class="form-control"  placeholder="Enter Password" name="password"> 
		</div>
		
		<div class="text-center">
			<button type="submit" class="btn btn-info">Login</button>
		</div>
		
        <div class="text-center mt-3">
            <a class="nav-link" href="{% url 'change_password' %}">Forget Password</a>
        </div>
	</form>

</div>

{% endblock %}
