{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10">Transaction Report</h1>
<hr />

<!-- Data Range Form-->
<form method="get">
    <div class="mt-6 h-10 pl-3 pr-3 bg-white border rounded-md border-gray-400 flex flex-col space-y-2">
        <input type="text" name="daterange" id="daterange" placeholder="Select date range" class="appearance-none h-full w-full text-sm outline-none focus:outline-none active:outline-none border rounded-md border-gray-300 px-3 py-2" readonly />
        <button type="submit" class="w-full h-10 bg-blue-600 text-white text-sm rounded-md hover:bg-blue-700 focus:outline-none flex items-center justify-center">
            <span class="flex items-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-5 h-5 mr-2">
                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
                Search
            </span>
        </button>
    </div>
    {% if form.daterange.errors %}
        {% for error in form.daterange.errors %}
            <p class="text-red-600 text-sm italic">{{ error }}</p>
        {% endfor %}
    {% endif %}
</form>




<div class="w-full mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Operation Date</th>
                <th>Time</th>
                <th>Withdrawal</th>
                <th>Deposit</th>
                <th>Account Balance</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_time|date:"Y-m-d" }}</td>
                    <td>{{ transaction.transaction_time|date:"H:i:s" }}</td>
                    <td>
                        {% if transaction.transaction_type == 'Withdrawal' %}
                            {{ transaction.transaction_amount }}
                        {% endif %}
                    </td>
                    <td>
                        {% if transaction.transaction_type == 'Deposit' %}
                            {{ transaction.transaction_amount }}
                        {% endif %}
                    </td>
                    <td>{{ transaction.transaction_balance_after }}</td>
                    <td>{{ transaction.transaction_note }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<!-- Import Js file -->
<script src="{% static 'js/daterange_picker.js' %}"></script>

{% endblock %}
